@use './var.scss';
@import './var.scss';

.ContentContainer {
    @include flex($di:flex, $jc:start, $ai:start,  $fd:row);

    .content{
        @include sizes($w:75%, $h:auto);
        @include flex($di:flex, $ai:center, $jc:center, $fd:row);
        flex-wrap: wrap;
    }

    .currency{
        @include sizes($w:25%, $h:auto);
        @include flex($di:flex, $ai:start, $jc:left, $fd:column);
        @include box($ma:0,$pa:10px);
        text-align: left;
        margin-top:90px;background-color: var.$bg1;
        .currencyType{
            color:var.$yellow !important;
        }
    }
}

@media(max-width:900px){
    .ContentContainer {
        @include flex($di:flex, $jc:start, $ai:start,  $fd:column-reverse);
    
        .content{
            @include sizes($w:100%, $h:auto);
            @include flex($di:flex, $ai:center, $jc:center, $fd:row);
            flex-wrap: wrap;
        }
    
        .currency{
            @include sizes($w:100%, $h:auto);
            @include flex($di:flex, $ai:start, $jc:center, $fd:row);
            text-align: left;
            margin-top: 0px;background-color: var.$bg1;
            h1{
                font-size: 1.3rem;
            }
            
            
        }
    }
     
}