@use "./var.scss";
@import "./var.scss";

.Currency {
    h1 {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 30px;
    }

    @include sizes($w:100%, $h:auto);
    text-align: center;

    .favFiat {
        @include sizes($w:100%, $h:auto);
        @include var.flex($di:flex, $ai:center, $jc:center, $fd:row);
        flex-wrap: wrap;

        .favoriteBox {
            @include sizes($w:300px, $h:auto);
            @include box($ma:10px, $pa:0);
            border-radius: 5px;
            background-color: var.$blue;

        }
    }

    .mapContainer {
        @include sizes($w:100%, $h:auto);
        @include var.flex($di:flex, $ai:center, $jc:center, $fd:row);
        flex-wrap: wrap;

        .CryptoBox {
            @include sizes($w:300px, $h:auto);
            @include var.flex($di:flex, $ai:center, $fd:row);
            @include box($ma:10px, $pa:0);
            border-radius: 5px;
            background-color: var.$opacityBg;

            .image {
                @include sizes($w:50%, $h:100%);
                @include var.flex($di:flex, $ai:center, $jc:left, $fd:row);
                @include box($ma:0, $pa:0);

                img {
                    @include sizes($w:75px, $h:auto);
                    @include box($ma:10px, $pa:0);
                }
            }

            .datas {
                @include sizes($w:50%, $h:100%);
                @include var.flex($di:flex, $ai:center, $jc:right, $fd:column);

            }
        }
    }
}

@media(max-width:900px) {
    .Currency {

        .mapContainer {
            .CryptoBox {
                .datas {
                    @include sizes($w:50%, $h:100%);
                    @include var.flex($di:flex, $ai:center, $jc:right, $fd:column);
                    @include font($fosi:12px, $co:var.$lightGrey, $textdec:none);
                }
            }
        }
    }
}