@use "./var.scss";
@import "./var.scss";


.Header {
    background-color: var.$darkBlue;
    @include sizes($w:100%, $h:80px);
    @include flex($di:flex, $ai:center, $jc:space-around, $fd:row);
    color: var.$grey;

    .leftSideLogo {
        @include flex($di:flex, $ai:center, $jc:center, );
        @include sizes($w:70px,$h:70px);
        align-items: center;
         img{
            @include sizes($w:75%,$h:75%);
        }
    }

    .rightSideDesktopLinks {
        @include flex($di:flex, $ai:center, $jc:space-around, $fd:row);
        a {  
            border-radius: 5px;
            @include box($ma:0 5px 0 5px, $pa:15px);
            @include font($fosi:20px, $co:var.$white, $textdec:none);
            &:hover{color:var.$yellow; background-color: rgba(var.$blue, .5);}
            transition: .3s all ease-in-out;

        }
        .searcher {
            input {
                @include font($fosi:20px, $co:var.$white, $textdec:none);
                @include box($ma:0, $pa:6px);
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: var.$darkBg;
            }
        }
    }

    .rightSideMobileLinks {
        @include flex($di:flex, $ai:center, $jc:space-around, $fd:row);
        a {
            border-radius: 5px;
            @include box($ma:0 5px 0 5px, $pa:15px);
            @include font($fosi:20px, $co:var.$white, $textdec:none);
            &:hover{color:var.$yellow; background-color: rgba(var.$blue, .5);}
            transition: .3s all ease-in-out;
        }
        .searcher {
            input {
                @include font($fosi:20px, $co:var.$white, $textdec:none);
                @include box($ma:0, $pa:6px);
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: var.$darkBg;
            }
        }
    }
    .navIcon {
        display: none;
    }
}


@media(max-width:900px) {
    .Header {
        .navIcon {
            display: block;
            .hamburgerIcon {
                display: block;  
            }
        }

        background-color: var.$bg1;
        @include sizes($w:100%, $h:80px);
        @include flex($di:flex, $ai:center, $jc:space-around, $fd:row);

        .leftSideLogo {}

        .rightSideDesktopLinks {
            display: none;
            .searcher {
                @include box($ma:0, $pa:20px);
                input { 
                    @include font($fosi:20px, $co:var.$white, $textdec:none);
                    @include box($ma:0, $pa:6px);
                    @include sizes($w:80%, $h:auto);
    
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background-color: black;
                }
            }
            
        }

        .rightSideMobileLinks {
           
            @include box($ma:0, $pa:20px 0 0 0);
            @include flex($di:flex, $ai:center, $jc:space-around, $fd:column);
            position:absolute;
            top: 120px;
            background-color: var.$bg1;
            height: auto;
            text-align: center;
            width: 100%;

            a {
                &:first-child {
                    border-top: none;
                }

                &:last-child {
                    border-bottom: none;
                }

                border-top: 1px solid var.$grey;
                border-bottom: 1px solid var.$grey;
                width: 100%;
                @include box($ma:0, $pa:30px);
                @include font($fosi:20px, $co:var.$white, $textdec:none);
            }
            .searcher {
                @include box($ma:0, $pa:0);
                input { 
                    @include font($fosi:20px, $co:var.$white, $textdec:none);
                    @include box($ma:0, $pa:6px);
                    @include sizes($w:90vw, $h:auto);
    
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background-color: black;
                }
            }
        }

       
    }

}