$white: #fff;
$bg1: #433E49;
$darkBg: #242424;
$opacityBg: #ffffff25;
$purplishPink: #934A5f;
$blue: #57648c;
$purple:#c2b4d6;
$grey:#e5e5e5;
$darkBlue: #333D51;
$yellow: #d3ac2b;
$lightGrey: #f4f3ea; 



@mixin sizes($w:100%, $h:100%) {
    width: $w;
    height: $h;
}

@mixin box($ma:0, $pa:0) {
    margin: $ma;
    padding: $pa;
}

@mixin flex($di:flex, $ai:center, $jc:center, $fd:row) {
    display: $di;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
}

@mixin font($fosi:15px, $co:var.$lightGrey, $textdec:none) {
    font-size: $fosi;
    color: $co;
    text-decoration: $textdec;
}